.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  // outline: 1px solid tomato;

  @include mq(mob) {
    max-width: 480px;
  }

  @include mq(tab) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desk) {
    max-width: 1280px;
  }
}
