@font-face {
    font-family: "Roboto Regular";
    src: url("../../fons/Roboto-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../../fons/Roboto-Medium.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../../fons/Roboto-Bold.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Roboto Black";
    src: url("../../fons/Roboto-Black.ttf");
    font-style: normal;
}