.block {
  width: 1034px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 32px;
  background-color: var(--add-bg-color);
}

@media screen and (max-width: 1280px) {
  .block {
    width: 704px;
  }
}

.expenses,
.income {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: var(--primary-text-color);
}

.income {
  position: relative;
  margin-left: 40px;
}

.incomeTotal::before {
  content: ' ';
  position: absolute;
  bottom: -10px;
  left: -20px;
  display: block;
  width: 1px;
  height: 36px;
  background-color: #e0e5eb;
}

.incomeTotal {
  letter-spacing: 0.04em;
  color: var(--plus-balance-color);
  margin-left: 15px;
}

.expensesTotal {
  letter-spacing: 0.04em;
  color: var(--minus-balance-color);
  margin-left: 15px;
}
