.block {
  width: 1034px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 28px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--add-bg-color);
}

@media screen and (max-width: 1280px) {
  .block {
    width: 704px;
  }
}
