.form {
  display: flex;
}

.timeDiv {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.calendarIcon {
  width: 25px;
  height: 20px;
  fill: var(--primary-text-color);
}

.date {
  margin-left: 10px;
  color: var(--primary-text-color);
  background-color: transparent;
  width: 74px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.input {
  width: 280px;
  padding-left: 10px;
  height: 44px;

  color: #c7ccdc;
  border: 2px solid var(--border-light);
  background-color: var(--input-bg-color);
  border-right: none;
  border-radius: 16px 0px 0px 0px;
}

.select {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  letter-spacing: 0.02em;

  color: #c7ccdc;
}

.calcInput {
  color: #c7ccdc;
  background-color: var(--input-bg-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: right;
  padding-right: 41px;
  max-width: 183px;
  height: 44px;
  border: 2px solid var(--border-light);
  border-left: none;
  border-radius: 0px 16px 16px 0px;
  background-image: var(--calsIcon);
  background-repeat: no-repeat;
  background-position: 87% 50%;
  background-size: 20px;
}

.buttonInput {
  width: 136px;
  padding: 12px 37px;
  margin-left: 32px;
  margin-right: 16px;

  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  background: #ff751d;
  border-radius: 16px;
}

.buttonClear {
  width: 136px;
  padding: 12px 37px;

  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid var(--border-light);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .buttonInput {
    margin-top: 32px;
    width: 125px;
  }
  .buttonClear {
    margin-top: 32px;
    width: 125px;
  }
  .form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .calcInput {
    max-width: 110px;
  }
  .date {
    width: 70px;
  }
  .input {
    width: 159px;
  }
}

@media screen and (min-width: 1281px) {
  .calcInput {
    max-width: 119px;
  }
  .date {
    width: 74px;
  }
  .input {
    width: 290px;
  }
}
