.table {
  margin-top: 60px;
  /* border: 2px solid #F5F6FB; */
  /* border-top-right-radius: 20px; */
  width: 746px;
  margin-bottom: 20px;
  border-collapse: collapse;
  max-height: 579px;
}

.transactions {
  position: relative;
}

.table thead tr th:first-child {
  border-radius: 20px 0 0 0;
}

.table thead tr th:last-child {
  border-radius: 0 20px 0 0;
}

.table th {
  height: 40px;

  font-weight: bold;
  padding: 5px;
  background: #f5f6fb;
  /* border: 1px solid #dddddd; */
}

.table td {
  height: 40px;
  border-bottom: 2px solid #f5f6fb;

  /* border: 1px solid #dddddd; */
  padding: 5px;
  text-align: center;
}

.table th {
}

.expense {
  color: green;
  font-weight: bold;
}

.buttonDelete {
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 50%;
  margin: 0px 10px;
  background-image: url('../../assets/icons/deleteTransaction.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
}
