.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -20px;
  margin-top: 20px;
}

.noInfo {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
  color: var(--black-text-color);
}

.item {
  max-width: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  margin-bottom: 5px;
}

.total,
.title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.image {
  margin-bottom: 5px;
  cursor: pointer;
  fill: var(--black-text-color);
}

.imageActive {
  composes: image;
  fill: var(--accent-color);
}
