.summary {
  margin-top: 60px;
  width: 214px;
  background-color: var(--bg-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title {
  height: 38px;
  padding-left: auto;
  padding-right: auto;
  border-bottom: 4px solid var(--white-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--black-text-color);
}

.list {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.item:not(last-child) {
  border-bottom: 2px solid var(--white-color);
}
