.header {
  position: relative;
  max-width: 1280px;
  margin: 0 auto 40px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 19px;
}

.headerContaiener {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
