/* .componentContainer {
    width: 1098px;
} */
.transactions {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}

.form {
  display: flex;
}
.container {
  max-width: 1098px;
  background-color: white;
  height: 579px;
  padding: 32px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
}

.date {
  color: var(--primary-text-color);
  width: 74px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-right: 32px;
}

/* .rasta-stripes {
    border: none;
    color: red;
      color: var(--primary-text-color);
} */

.input {
  height: 44px;
  border: 2px solid var(--border-light);
  border-radius: 16px 16px 16px 0px;
}

.select {
  padding: 5px;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #c7ccdc;
}

.selectList {
  color: red;
}

.buttonInput {
  padding: 12px 37px;
  margin-left: 32px;
  margin-right: 16px;

  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-color);
  background: #ff751d;
  border-radius: 16px;
}

.buttonClear {
  padding: 12px 37px;

  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--primary-text-color);
  background: var(--white-color);
  border-radius: 16px;
  border: 2px solid var(--border-light);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .transactions {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1281px) {
}
