.container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: initial;
    flex-wrap: nowrap;
    margin-bottom: 60px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}

.reportsLinkWrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .reportsLinkWrapper {
    margin-left: auto;
    position: initial;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .reportsLinkWrapper {
    position: absolute;
    right: 113px;
  }
}

.reports {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.iconReports {
  fill: var(--primary-text-color);
  margin-left: 15px;
}
