.balance {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-bottom: 8px; */
}

@media screen and (min-width: 772px) {
  .balance {
    /* margin-bottom: 60px; */
  }
}

.label {
  position: relative;
  display: flex;
  width: 125px;
  height: 44px;
  margin-right: 16px;
  border: 2px solid var(--white-color);
  border-radius: 16px;
  align-items: center;
}

.title {
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: rgba(82, 85, 95, 0.7);
}

.money {
  margin-right: 20px;
  margin-top: 3px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: #000000;
}

.input {
  width: 68px;
  height: 20px;
  margin-left: 8px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  outline: none;

  color: var(--black-text-color);
  background-color: transparent;
}

.button {
  width: 125px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: rgba(82, 85, 95, 0.7);
  background-color: transparent;

  border: 2px solid var(--white-color);
  border-radius: 16px;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1),
    color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: auto;
  /* color 200ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.buttonActive {
  composes: button;
  cursor: pointer;
}

.buttonActive:hover {
  color: var(--white-color);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1), 3px 3px 1px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.12);
}

.text {
  position: absolute;
  top: 0;
  left: 450px;
  width: 125px;
  height: 44px;
  margin-right: 16px;
  border: 2px solid var(--white-color);
  border-radius: 16px;
  /* align-items: center; */

  font-size: 12px;
  font-weight: bold;
}
