@import-normalize; /* bring in normalize.css styles */

:root {
  --black-text-color: #000000;
  --primary-text-color: #52555f;
  --white-color: #ffffff;
  --description-color: #c7ccdc;
  --accent-color: #ff751d;
  --minus-balance-color: #e7192e;
  --plus-balance-color: #407946;

  --font-family: 'Roboto', sans-serif;
  --primary-font-size: 12px;
}
.container {
  padding: 10px;
  width: 1280px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}
